<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OutlookCalendarAvailability.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OutlookCalendarAvailability.Properties.Settings>
            <setting name="LastLocalTZ" serializeAs="String">
                <value>Eastern</value>
            </setting>
            <setting name="LastClientTZ" serializeAs="String">
                <value>Central</value>
            </setting>
            <setting name="LastLocalStart" serializeAs="String">
                <value>09:00</value>
            </setting>
            <setting name="LastLocalEnd" serializeAs="String">
                <value>18:00</value>
            </setting>
            <setting name="LastClientStart" serializeAs="String">
                <value>09:00</value>
            </setting>
            <setting name="LastClientEnd" serializeAs="String">
                <value>18:00</value>
            </setting>
            <setting name="LastMeetingLength" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LastAttendees" serializeAs="String">
                <value />
            </setting>
        </OutlookCalendarAvailability.Properties.Settings>
    </userSettings>
</configuration>